body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  
.alert-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 10px;
    text-align: center;
    width: 450px;
    height: 150px;

}
.alert-button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}
header {
    background-color: blueviolet;
    margin:0;
}
p{
    background-color: white;
}



