body{
  background-color: black;
  display: grid;
  place-content: center;


}
.container{
  background-color: plum;
  border-radius: 10px;
  width: 500px;
  height: 230px;
  display: grid;
  place-content: center;
  margin-top: 30px;
  font-weight: 500;
  /* color: darkslateblue; */

}
input{
  width:350px;
  height: 24px;
  background-color:white;
  border: 1px solid;
  /* border: none;
  color:blueviolet; */
}
button{
  width:100px;
  height: 24px;
  background-color: rgb(148, 22, 173);
  border: none;
  font-weight: 500;
  color: aliceblue;
}
ul{
  background-color: plum;
  list-style-type: none;
  font-weight: 400;
  border-radius: 10px;
  font-size: 16px;
  outline: 1px auto;
  height: 50px;
  

}
/* p{
  width: 370px;
  height: 50px;
  background-color: white ;
  text-align: center;
  font-weight: 400;
  color:rgb(233, 78, 78);
  border-radius: 10px;
} */